/* Add at the top of the file before existing code */

@import url('./navbar.css');
@import url('./booking.css');

/* ...existing code... */

/* Add padding to body to account for fixed navbar */
body {
    padding-top: 80px;
}